* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 249, 246);
}
.container {
  display: grid;
  grid-template-columns: 62% 38%;
  grid-auto-rows: minmax(60px, auto);
  grid-auto-columns: minmax(60px, auto);
  grid-template-areas:
    "header header"
    "section-1 section-1"
    "section-2 aside"
    "footer footer";
}
header {
  grid-area: header;
  text-align: center;
  padding: 30px;
}
header h1 {
  font-size: 50px;
}
header div {
  display: inline-block;
  font-size: 20px;
}
header #div-1 {
  background-color: rgb(0, 0, 0);
  padding: 0 10px;
}
header span {
  background-color: rgb(68, 65, 65);
}

.section-1 {
  grid-area: section-1;
  position: relative;
}
.section-1 #div-2 {
  position: absolute;
  top: 400px;
  color: white;
  font-size: 30px;
  padding-left: 30px;
}
.section-1 #p-1 {
  font-size: 60px;
  padding: 20px 0 10px 0;
}
.section-1 #subscribe {
  background-color: rgb(163, 160, 160);
  display: inline-block;
  padding: 20px 20px;
  font-size: 16px;
  color: black;
  border-radius: 3px;
}

.section-1 #subscribe:hover {
  background-color: rgb(210, 208, 208);
  cursor: pointer;
}

.section-2 {
  grid-area: section-2;
  /* margin: 20px 40px; */
  /* padding: 30px 20px; */
  text-align: justify;
  position: relative;
}
.section-2 .div-3 {
  text-align: center;
}
.section-2 .div-3 p {
  padding: 15px 0 25px 0;
  font-weight: 600;
}
.section-2 .div-3 span {
  color: rgb(128, 127, 127);
}
.section-2 .p-2 {
  padding: 20px 0;
}
.section-2 .p-2 span {
  font-weight: 600;
}
.section-2 .p-3 {
  padding-bottom: 20px;
}
.section-2 .div-4 .div-41 {
  float: left;
  border: 1px solid black;
  background-color: rgb(246, 245, 245);
  padding: 5px 10px 10px 10px;
  font-weight: 700;
  cursor: pointer;
}
.section-2 .div-4 .div-41:hover{
    background-color: rgb(202, 200, 200);
}
.section-2 .div-4 .div-42:hover{
    background-color: rgb(41, 39, 39);
}
/* .section-2 .div-4 .div-41-2{
    visibility: hidden;
}
.section-2 .div-4 .div-41:active {
    .section-2 .div-4 .div-41-2{
        visibility: visible;
    }
} */
.section-2 .div-4 .div-42 {
  float: right;
  display: flex;
  padding: 9px 10px 10px 15px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.section-2 .div-4 .div-42 .icon {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: white;
  color: black;
  margin-left: 10px;
  padding: 0 2px 3px 1px;
  margin-right: 5px;
}
.section-2 .a1 .div-5 {
  display: flex;
  margin-top: 100px;
  border-top: 1px solid rgb(135, 132, 132);
  padding-top: 25px;
}
.section-2 .div-5 img {
  width: 110px;
  height: 120px;
  flex-basis: 14%;
  position: absolute;
}
.section-2 .div-5 div {
  margin: 30px 0 0 180px;
  line-height: 1.8;
}
.section-2 .div-5 .p-4{
    font-weight: 600;
    font-size: 19px;
}
.section-2 .div-5 .p-4 span{
    font-weight: 100;
    color: rgb(117, 116, 116);
    font-size: 16px;
}
.section-2 article {
  margin: 20px 40px;
  padding: 30px 20px 70px 20px;
  background-color: white;
  line-height: 1.5;
}
.section-2 img {
  width: 100%;
}
.section-2 .a1 {
  height: -30px;
}

aside {
  grid-area: aside;
}
aside article {
  background-color: white;
  margin: 20px 0 30px 0;
  width: 91%;
  line-height: 1.5;
}
aside h3 {
  background-color: black;
  color: white;
  padding: 20px 15px;
}
aside .a1 img {
  width: 100%;
  height: 50%;
  margin-bottom: -7px;
}
aside .a1 p {
  background-color: black;
  color: white;
  padding: 0 0 15px 15px;
}
aside .a2 ul {
  list-style: none;
}
aside .a2 ul li{
    display: flex;
    border-bottom: 1px solid rgb(171, 168, 168);
    padding: 0 0 17px 15px;
    cursor: pointer;
}
aside .a2 ul li img{
    width: 70px;
    height: 70px;
    margin-top: 17px;
}
aside .a2 ul li div{
    margin: 30px 0 0 18px;
}
aside .a2 ul li:nth-last-child(1){
    border: none;
}
aside .a2 ul li:hover{
    background-color: rgb(221, 216, 216);
}
aside .a3{
    height: 11.4%;
}
aside .a3 div{
    background-color: rgb(231, 228, 228);
    height: 250px;
    margin: 17px 15px ;
}
aside .a3 div p{
    text-align: center;
    padding: 105px;
}
aside .a4{
    height:7%;
}
aside .a4 div{
    margin: 20px 30px 17px 5px;
    display: flex;
    flex-wrap: wrap;
}
aside .a4 div span{
    background-color: rgb(238, 238, 252);
    padding: 0 5px;
    margin-bottom: 10px ;
    margin-left: 10px;
    font-size: 15px;
}
aside .a4 div span:nth-child(1){
    background-color: black;
    color: white;
    font-size: 17px;
}
aside .a5{
    height: 14.33%;
}
aside .a5 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
aside .a5 div img{
    width: 45.8%;
    height: 160px;
    padding: 17px 0 0 0;
}
aside .a6{
    height: 4.4%;
}
aside .a6 div{
    margin: 17px 0 17px 15px;
}
aside .a6 div i{
    margin-right: 5px;
    cursor: pointer;
}
aside .a6 div i:hover{
    color: rgb(113, 112, 112);
}
aside .a7{
    height: 7.6%;
}
aside .a7 form{
    margin: 17px 19px 17px 15px;
}
aside .a7 form input{
    width: 99.3%;
    padding: 10px 0;
    margin: 10px 0;
}
::placeholder{
    padding-left: 10px;
}
aside .a7 form button{
    background-color: rgb(235, 22, 11);
    border: none;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
aside .a7 form button:hover{
    background-color: rgb(167, 165, 165);
    color: black;
}

footer {
  grid-area: footer;
  background-color: rgb(72, 71, 71);
  color: white;
  padding: 30px 0 0 30px;
}
footer #to-top {
  background-color: black;
  display: inline-block;
  width: 90px;
  padding: 15px 30px;
  cursor: pointer;
}
footer #to-top {
  text-decoration: none;
  color: white;
}
footer #to-top:hover{
    background-color: rgb(38, 36, 36);
}
footer p {
  padding: 40px 0;
}
footer p a {
  color: white;
}
